attrs==21.2.0
click==8.0.1
coverage==5.5
Flask==2.0.1
Flask-Caching==1.10.1
flask-unittest==0.1.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.21.0
opencv-python==4.5.2.54
packaging==21.0
pkg-resources==0.0.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
toml==0.10.2
unittest-xml-reporting==3.0.4
Werkzeug==2.0.1
